*
!.gitignore

# server
!.htaccess
!apple-touch-icon.default.png
!favicon.default.ico
!robots.txt

# code
!config.default.php
!index.php
!start.php
!thread.php
!markup.php
!lib/domtemplate.php
!lib/functions.php
!lib/rss-template.xml
!lib/sitemap-template.xml
!themes/*
!users/*

# documentation
!HISTORY.txt
!LICENCE.txt
!README.txt

