# NoNonsense Forum v18 © Copyright (CC-BY) Kroc Camen 2012
# licenced under Creative Commons Attribution 3.0 <creativecommons.org/licenses/by/3.0/deed.en_GB>
# you may do whatever you want to this code as long as you give credit to Kroc Camen, <camendesign.com>

ServerSignature   Off
AddDefaultCharset utf-8

# this ‘feature’ (MultiViews) drove me absolutely insane!
# without this, Apache will give a 404 for a rewrite if a folder of the same name does not exist (e.g. “/blog/hello”)
# <webmasterworld.com/apache/3808792.htm>
Options -MultiViews -Indexes

<IfModule mod_dir.c>
	DirectoryIndex index.php
</IfModule>

<IfModule mod_mime.c>
	AddType application/rss+xml .rss
	AddCharset utf-8 .css .xml .rss .txt
</IfModule>

<Files "index.xml">
	# 'index.xml' (unlike 'sitemap.xml') is an RSS feed
	ForceType application/rss+xml
</Files>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain
	
	<FilesMatch "\.(css|js|otf|rss|svg|ttf|txt|xml)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/png		"access plus 1 month"
	ExpiresByType image/jpg		"access plus 1 month"
	ExpiresByType image/jpeg	"access plus 1 month"
	ExpiresByType font/ttf		"access plus 1 year"
	ExpiresByType font/x-woff	"access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(xml|rss)$">
		# this is a mess, and probably wrong
		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		Header set Pragma "no-cache"
		Header set Expires "Sun, 1 Jan 2012 00:00:00 GMT"
	</FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	
	# NNF will display an error message if .htaccess is missing, or not enabled;
	# we detect that by this environment variable failing to carry through
	RewriteRule .* - [E=HTTP_HTACCESS:1]
	
	# HTTP_AUTH workaround for CGI:
	# <orangejuiceliberationfront.com/http-auth-with-php-in-cgi-mode-e-g-on-dreamhost/>
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	
	# custom favicon?
	RewriteCond %{DOCUMENT_ROOT}/favicon\.ico !-f
	RewriteRule ^favicon\.ico$ /favicon.default.ico [NC,L]
	
	# custom apple-touch-icon?
	RewriteCond %{DOCUMENT_ROOT}/apple-touch-icon\.png !-f
	RewriteRule ^apple-touch-icon\.png$ /apple-touch-icon.default.png [NC,L]
	RewriteCond %{DOCUMENT_ROOT}/apple-touch-icon-precomposed\.png !-f
	RewriteRule ^apple-touch-icon-precomposed\.png$ /apple-touch-icon.default.png [NC,L]
	
	# don’t allow any access to '/users' (this is accessed purely from the PHP)
	RewriteRule ^users/.*$ - [NC,F]
	
	# don’t allow forum access to users / themes / lib folder
	RewriteCond %{QUERY_STRING} path=(?:themes|users|lib) [NC]
	RewriteRule ^ - [F]
	
	# page numbers on the root forum
	RewriteRule ^:(\d+)$ ?page=$1 [QSA,L]
	
	# a sub-forum
	RewriteCond %{REQUEST_URI} ^(/(?:[^\./&]+/)+)(?::\d+)?$
	RewriteCond %{DOCUMENT_ROOT}%1 -d
	RewriteRule ^((?:[^\./&]+/)+)(?::(\d+))?$ ?path=$1&page=$2 [QSA,L]
	
	# a thread
	RewriteCond %{REQUEST_URI} ^(/(?:[^\./&]+/)*[_a-z0-9-]+)(?::\d+)?$
	RewriteCond %{DOCUMENT_ROOT}%1.rss -f
	RewriteRule ^((?:[^\./&]+/)*)([_a-z0-9-]+)(?::(\d+))?$ thread.php?path=$1&file=$2&page=$3 [QSA,L]
</IfModule>