ServerSignature	Off
RewriteEngine	On

# this ‘feature’ (MultiViews) drove me absolutely insane!
# without this, Apache will give a 404 for a rewrite if a folder of the same name does not exist (e.g. “/blog/hello”)
# <webmasterworld.com/apache/3808792.htm>
Options -MultiViews -Indexes

# HTTP_AUTH workaround for CGI
# <orangejuiceliberationfront.com/http-auth-with-php-in-cgi-mode-e-g-on-dreamhost/>
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# custom favicon?
RewriteCond %{DOCUMENT_ROOT}/favicon\.ico !-f
RewriteRule ^favicon\.ico$ /favicon.default.ico [NC,L]

# custom apple-touch-icon?
RewriteCond %{DOCUMENT_ROOT}/apple-touch-icon\.png !-f
RewriteRule ^apple-touch-icon\.png$ /apple-touch-icon.default.png [NC,L]
RewriteCond %{DOCUMENT_ROOT}/apple-touch-icon-precomposed\.png !-f
RewriteRule ^apple-touch-icon-precomposed\.png$ /apple-touch-icon.default.png [NC,L]

# don’t allow any access to /users (this is accessed purely from the PHP)
RewriteRule ^users/.*$ - [NC,F]

# don’t allow forum access to users / themes / lib folder
RewriteCond %{QUERY_STRING} path=/*(?:themes|users|lib) [NC]
RewriteRule ^ - [F]

DirectoryIndex index.php

AddType application/rss+xml	.rss
<Files "index.xml">
	ForceType application/rss+xml
</Files>

# force utf-8 for a number of file formats:
AddDefaultCharset utf-8
AddCharset utf-8 .css .xml .rss .txt

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/css application/x-javascript text/javascript application/javascript application/json text/xml application/xml application/rss+xml
	
	<FilesMatch "\.(ttf|otf|svg)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/png		"access plus 1 month"
	ExpiresByType image/jpg		"access plus 1 month"
	ExpiresByType image/jpeg	"access plus 1 month"
	ExpiresByType font/ttf		"access plus 1 year"
	ExpiresByType font/x-woff	"access plus 1 year"
</IfModule>

# this is a mess, and probably wrong
<FilesMatch "\.(xml|rss)$">
	<IfModule mod_headers.c>
		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		Header set Pragma "no-cache"
		Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
	</IfModule>
</FilesMatch>

# a folder
RewriteCond %{REQUEST_URI} ^/(?:[^./&]+/)+$
RewriteCond %{DOCUMENT_ROOT}%0 -d
RewriteRule ^(?:([^./&]+)/)?$ ?path=$1 [QSA,L]

# a thread
RewriteCond %{REQUEST_URI} ^/((?:[^./&]+/)*)([^./]+)$
RewriteCond %{DOCUMENT_ROOT}%0.rss -f
RewriteRule ^(?:([^./&]+)/)?([^./]+)$ thread.php?path=$1&file=$2 [QSA,L]
