# ignore files that aren't part of NoNonsenseForum:
*
!.gitignore

# DOMTemplate is the templating engine which is included here, but without using git submodules, because GitHub downloads
# don't include submodules and thus break NNF for casual users just wanting to download and run
!domtemplate/**

# code
!functions.php
!utf8safe.php

# error messages
!error_apachever.php
!error_configdefault.php
!error_configtheme.php
!error_htaccess.php
!error_permissions.php
!error_phpver.php
!error_theme.php
!error_xml.php

# templates
!rss-template.xml
!sitemap-template.xml
