*
!.gitignore

!delegates.xml
!generate_imgs.sh
!generate_imgs.bat

!add.png
!add_2x.png
!append.png
!append_2x.png
!bg.png
!delete.png
!delete_2x.png
!deletetitle.png
!deletetitle_2x.png
!folders.png
!folders_2x.png
!go.png
!grid.png
!help.png
!help_2x.png
!here.png
!here_2x.png
!lang.png
!logo.png
!new.png
!new_2x.png
!replies.png
!replies_2x.png
!rss.png
!rss_2x.png
!search.png
!search_2x.png
!security_closed_16.png
!security_closed_32.png
!security_open_16.png
!security_open_32.png
!sticky.png
!sticky_2x.png
!submit.png
!threads.png
!threads_2x.png

!licence.txt