/* NoNonsense Forum © Copyright (CC-BY) Kroc Camen 2011
   licenced under Creative Commons Attribution 3.0 <creativecommons.org/licenses/by/3.0/deed.en_GB>
   you may do whatever you want to this code as long as you give credit to Kroc Camen, <camendesign.com> */
/* ====================================================================================================================== */
/* Internet Explorer specific fixes. fun. */

#ptitle	label	{display: block; float: left; width: 20% !important; padding: 0 !important; text-indent: 20px;}

#title		{display: block; position: absolute; left: 20%; right: 1px; width: 80%;
		 padding: 0; text-indent: 20px; vertical-align: bottom;}