/* NoNonsense Forum v7 © Copyright (CC-BY) Kroc Camen 2011
   licenced under Creative Commons Attribution 3.0 <creativecommons.org/licenses/by/3.0/deed.en_GB>
   you may do whatever you want to this code as long as you give credit to Kroc Camen, <camendesign.com> */
/* ====================================================================================================================== */
/* original Grayscale theme by Jon Gjengset <thesquareplanet.com>,
   greyscale theme by Kroc Camen, please modify to suit your needs
*/

header, nav, section, article,	/* this doesn’t get set on browsers without an HTML5 parser (e.g. Firefox 3.6) */
 footer				{display: block;}

html, body			{width: 100%; margin: 0; padding: 0; border: 0;}
html				{font: 16px/20px Corbel, "URW Gothic L", "Liberation Sans", "Trebuchet MS", sans-serif;
				 background: white url("bg.png") fixed repeat-x bottom center;
				 /* CSS3 gradients for browsers that support it: */
	/* Chrome / Safari */	 background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ddd));
	/* Chrome10+ Saf5+ */	 background-image: -webkit-linear-gradient(white, #ddd);
	/* FF3.6+ */		 background-image:    -moz-linear-gradient(white, #ddd);
	/* IE10 */		 background-image:     -ms-linear-gradient(white, #ddd);
	/* Opera 11.10+ */	 background-image:      -o-linear-gradient(white, #ddd);
	/* future? */		 background-image:         linear-gradient(white, #ddd);}


/* page centering / width */
#mast nav, section, #mods	{width: 80%; max-width: 1024px;}

h1				{margin: 0; padding: 20px 0 20px 60px;
				 font-weight: bold; font-size: 22px; line-height: 20px; color: #f7f6f7;
				 background: #222;}
section h1			{background: #222 none no-repeat 15px 15px;}

p				{margin: 0; padding: 20px 0 0;
				 /* fonts in Linux are pretty awful, so we go for a "centruy gothic" like font for titles
				    and other UI ("URW Gothic L"), but a normal-looking Arial-like for the post text */
				 font-family: Corbel, "Liberation Sans", "Trebuchet MS", sans-serif}

a				{color: #222; text-decoration: none; font-weight: bold;}
a:hover				{color: #666; text-decoration: underline;}

b.mod				{/* all moderators have underlined names */
				 /*text-decoration: underline;*/}

time				{font-family: Calibri, "Liberation Sans", Tahoma, sans-serif; text-transform: uppercase;}

blockquote			{position: relative; margin: 20px 0 0; padding: 0 20px 0 19px;
				 border-left: 1px dotted #222; font-style: italic;}
blockquote p:first-child	{padding-top: 0;}

/* added quote marks within blockquotes */
.ql, .qr			{padding-right: 5px;
				 font: normal 40px/0px "Liberation Sans", sans-serif; vertical-align: bottom;}
.qr				{position: absolute; right: 0; bottom: 0; height: 0; overflow: hidden; padding-top: 20px;}

pre				{overflow: auto; margin: 20px 0 0;}
pre, code			{font: 12.5px/20px Monaco, Consolas, "Liberation Mono", monospace, monospace;}

/* code delimiters., top and bottom */
.ct, .cb			{display: block; line-height: 19px;}
.ct				{border-bottom: 1px dotted #222;}
.cb				{margin-top: 20px; border-top: 1px dotted #222;}


/* site header
   ====================================================================================================================== */
#mast				{padding: 40px 0 0;}
#mast h1			{position: absolute; top: 0; left: 0; right: 0; padding-left: 0; font-size: 32px;
				 width: 100%; /*< IE6 */}
#mast h1 a			{margin: 0 auto 0 10%; padding-left: 60px; color: #f7f6f7;
				 background: url("icons/title.png") no-repeat 15px 50%;}

/* the breadcrumb and rss / new buttons: */
#mast nav			{margin: 40px auto 0;
				 text-transform: uppercase; color: #888;}
#mast nav p			{display: block; padding: 0 20px 0 60px;}

#index				{display: inline-block; padding-left: 36px; margin-left: -36px;
				 background: url("icons/here.png") no-repeat 0 50%;}

#add, #rss			{float: right; margin-left: 20px; padding-left: 25px;}
#add				{background: url("icons/add.png") no-repeat 0 50%;}
#rss				{background: url("icons/rss.png") no-repeat 0 50%;}

/* Google search box: */
#search				{float: right; *float: none; /*< IE6 & 7 work without floating */
				 height: 20px; width: 210px; /*< IE6/7 get height wrong */
				 /* `auto` on the left margin (instead of `70%`) is required for IE6/7 to get this right */
				 margin: -20px 10% 0 auto; padding: 0 10px 0 0; overflow: hidden;
				 border: none; /* very bizarely, the positioning magically adds a border */
				 text-align: right; background: none;}
#query				{display: block; /*< removes magic-spacing / height on input box */
				 width: 180px; height: 20px; margin: 0; padding: 0 5px 0 25px; border: none;
				 -webkit-border-radius: 10px;
				    -moz-border-radius: 10px;
				         border-radius: 10px;
				 font-size: 12px !important;
				 line-height: 20px; /*< equalises vertical position of search box in IE8 */
				 background: white url("icons/search.png") no-repeat 5px 50%;}
::-webkit-search-decoration,	/* reset Safari custom search-box design */
 ::-webkit-search-cancel-button	{display: none;}
input[type=search]		{-webkit-appearance: textfield;
				 -webkit-box-sizing: content-box;}
input[type=search]:focus	{outline: none;}

#go				{position: relative; margin-left: -20px; top: -20px;}


/* index page
   ====================================================================================================================== */
section				{margin: 20px auto 0;
				 background: #f7f6f7;}

/* page list */
section nav			{position: relative; height: 40px; overflow: hidden; padding: 0 1px;
				 font-family: Calibri, "Liberation Sans", Tahoma, sans-serif; line-height: 40px;
				 text-align: right; text-transform: uppercase; color: #aaa;
				 background-color: #444;}

/* cover over the dotted line at the bottom */
#threads nav			{margin-top: -1px;}

/* move the page list into the title for browsers that support the adjacent selector (IE7+) */
/* (spaces are required between '+' here for WebKit!?) */
section>h1 + nav		{background: none; float: right; margin-top: -50px !important; padding-right: 10px;}

ol.pages			{display: block; float: right; margin: 0 0 0 10px; padding: 0;}
ol.pages li			{display: block; float: left; margin: 0; padding: 0; width: 40px; height: 39px;
				 text-align: center;}
ol.pages a			{display: block; width: 40px; height: 39px;
				 color: #aaa; text-decoration: none;}
ol.pages a:hover		{color: white; background-color: #888;}
ol.pages em			{color: white; font-style: normal;}

/* item list (folders / threads) */
ol.ui				{margin: 0; padding: 0; border: 1px solid #444; border-width: 0 1px;}
ol.ui li			{margin: 0; border-bottom: 1px dotted #444;
				 list-style-type: none; color: #888;
				 /* this trick ensures that one line of text is 19px+border (20px), but that each additonal
				    line of text is 20px so that the bottom border never shifts out of place
				    (round up occurs at 2 decimal digits for Firefox and Chrome, 3 for Opera) */
				 padding: 9.999px 20px 9px; line-height: 20px;}


/* ---------------------------------------------------------------------------------------------------------------------- */

/* titles */
#folders h1			{background-image: url("icons/folders.png");}
#threads h1, #post h1		{background-image: url("icons/threads.png");}

/* folder / thread names: */
#folders ol.ui li		{border-bottom: 1px solid #444;}

#threads ol.ui li		{padding-left: 60px;}
#threads ol.ui li i		{float: left; width: 25px; margin: 0 10px 0 -50px;
				 font-family: Calibri, "Liberation Sans", Tahoma, sans-serif; text-align: right;}

#threads ol.ui li img		{margin-left: -20px; vertical-align: -2px;}
#threads ol.ui li.sticky	{background: #eee;}

/* these apply to folders and threads */
ol.ui li b			{float: right; padding-left: 10px; text-align: right;}	/* author */
ol.ui li time			{float: right; width: 9.1em;				/* timestamp */
				 font-weight: normal; text-align: right; color: #888;}
ol.ui li a:hover time		{text-decoration: underline;}


/* thread page
   ====================================================================================================================== */
article				{padding: 0 20px 19px; border: 1px solid #444;
				 /* surreal, surreal IE6 bug. *without* a bottom-border, the layout goes out of sync */
				 border-width: 0 1px 1px;}

/* close the border within the 20px rhythm on the initial post */
#post article			{padding-bottom: 19px !important; border-bottom-width: 1px;}

#replies h1			{background-image: url("icons/replies.png");}

article header			{height: 38px; line-height: 38px; margin: -1px -20px 0; padding: 1px 20px;
				 border-bottom: 1px dotted #444;
				 color: #888; background: #ccc;}

article header b		{margin-left: 10px;}
#post article header b		{/* the first post doesn’t have a number, only replies */
				 margin-left: 0;}
article header time,
 article header .ui		{float: right;}

/* the delete / append buttons */
article header .ui		{/* ie6 makes these invisible, has to have width toggled */
				 _width: 0; overflow: hidden; padding: 0 25px 0 10px;
				 text-indent: -6em; color: #ccc;}
article header .ui:hover	{_width: auto; text-indent: 0; text-decoration: none; color: #222;}
article header .ui,
 article header .ui:hover	{-webkit-transition: all .2s;
				    -moz-transition: all .2s;
				      -o-transition: all .2s;
				         transition: all .2s;}

.delete				{background: url("icons/delete.png") no-repeat right center;}
.append				{background: url("icons/append.png") no-repeat right center;}

article.op			{}
article.op header		{background: #888; color: #eee;}

article.deleted			{color: #aaa;}
article.deleted header		{background: #f7f6f7; color: #aaa;}

p.appended			{color: #888; padding-top: 19px;
				 border-bottom: 1px dotted #222;}


/* input forms
   ====================================================================================================================== */
#new h1, #reply h1, #append h1	{background-image: url("icons/new.png");}

form				{position: relative; /*< for the benefit of IE6/7 whom do not have box-sizing */
				 margin: 0; padding: 0; border: 1px solid #444; border-width: 0 1px;}

input, textarea			{font: 16px/20px Corbel, "Liberation Sans", "Trebuchet MS", sans-serif;}

label				{display: block; height: 40px; padding: 0 20px; line-height: 40px; color: #222;}

form p				{padding: 0; color: #888;}
#ok, #error, #markup		{padding: 20px !important;}
#error				{color: #d11;}
#markup				{padding-top: 0 !important;}

input[type=text],
 input[type=password], textarea	{-webkit-box-shadow: inset 0 5px 5px -6px black;
				    -moz-box-shadow: inset 0 5px 5px -6px black;
				         box-shadow: inset 0 5px 5px -6px black;}

#leftcol			{width: 65%;}
#rightcol			{position: absolute; width: 35%; right: 0;}

#user, #pass			{display: block; width: 100%;}
#title, #user, #pass		{height: 39px; line-height: 39px;
				 /* since IE 6/7 don't support box-sizing, we can't use padding in the text-box,
				    we'll just indent instead */
				 padding: 0; text-indent: 20px;
				 border: none; border-bottom: 1px dotted #444;}

/* the "title" field, only present on the new thread form, index page */
#ptitle				{display: table; width: 100%;}
#ptitle label			{display: block; float: left; width: 20%; height: 39px; padding: 0; text-indent: 20px;
				 line-height: 38.999px; /*< Chrome gets this a pixel out, use imprecision to fix */
				 border-bottom: 1px dotted #444;}
#title				{display: block; position: absolute; left: 20%; right: 1px; width: 80%;
				 -webkit-box-shadow: inset 5px 0 5px -6px black;
				    -moz-box-shadow: inset 5px 0 5px -6px black;
				         box-shadow: inset 5px 0 5px -6px black;}

/* the message box, present in new thread and reply forms */
#ptext label			{display: block; line-height: 40px;
				 border-right: 1px solid #f7f6f7; background: #f7f6f7;}

/* we have to use a wrapper because box-sizing is not consistently supported across browsers and missing in IE<8 */
#wtext				{position: relative; /*< force dotted line above rightcol in Firefox */
				 _position: static;  /*< that then breaks IE6 :P */
				 padding: 0 40px 0 0;}
#text 				{display: block; width: 100%; padding: 20px; margin: 0 -41px 0 0;
				 border: none; border-right: 1px dotted #444;
				 /* fix width for browsers that allow resizable text-areas */
				 min-width: 100%; max-width: 100%; min-height: 300px; max-height: 700px;}

/* the e-mail field is an anti-spam feature and not used by the user */
#pemail				{display: none;}

/* submit button at bottom of form */
#psubmit			{clear: both; height: 40px;
				 margin: 0 !important; padding: 0; text-align: right;
				 background: #444;}
#psubmit label			{display: inline-block; padding: 0 0 0 20px; cursor: pointer;
				 color: #f7f6f7; text-transform: uppercase;}
#submit				{vertical-align: middle;}

/* delete, un/lock form
   ---------------------------------------------------------------------------------------------------------------------- */
#delete h1			{background-image: url("icons/deletetitle.png");}
#lock h1, #unlock h1		{background-image: url("icons/threads.png");}

/* no path / rss buttons up top */
#delete, #lock, #unlock		{margin-top: 40px;}
/* put the name / password fields side by side since there's no message box taking up the space */
#delete #leftcol,
 #lock #leftcol,
 #unlock #leftcol		{width: 50%;}
#delete #rightcol,
 #lock #rightcol,
 #unlock #rightcol		{width: 50%; top: 0; border-left: 1px dotted #222;}


/* site footer
   ====================================================================================================================== */
#mods				{margin: 0 auto; padding-top: 20px; overflow: hidden;}
#mods p				{padding: 0 20px 0; color: #888;}

#admin				{float: right;}
a#lock, a#unlock		{margin-left: 20px; padding-left: 25px; text-transform: uppercase;}
/* lock / unlock icons courtesy of <picol.org>, under a Creative Commons Share-Alike 3.0 licence
   <creativecommons.org/licenses/by-sa/3.0/> */
a#lock				{background: url("icons/security_closed_16.png") no-repeat 0 50%;}
a#unlock			{background: url("icons/security_open_16.png") no-repeat 0 50%;}

footer				{position: absolute; height: 60px; margin: 20px 0 0; padding: 0 0 20px; left: 0; right: 0;
				 width: 100%; /*< IE6, which doesn't fully understand 'left; right' */
				 background: #222;}

footer p			{margin: 0 auto 0 10%; padding-left: 20px; font-size: .9em; color: #f7f6f7;}
footer p a			{color: #888;}


/* ======================================================================================================================
   mobile / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /
   ====================================================================================================================== */
@media screen and (max-width: 640px) {

html				{font-size: 14px; background: #ddd; /* mobile devices don't like fixed backgrounds */}

/* prevent iPhone from zooming in when rotating */
html, body			{width: 100%; -webkit-text-size-adjust: none;}

/* page width */
#mast nav, section, #mods	{width: 95%;}

/* header
   ---------------------------------------------------------------------------------------------------------------------- */
/* reduce the title size */
h1				{font-size: 20px !important;}
#mast				{padding: 0;}
#mast h1			{position: static; padding: 5px 0 0; line-height: 20px;}
#mast h1 a			{/* fit the logo in tighter */
				 position: static; display: block; height: 30px; margin: 0; padding: 10px 0 0 55px;
				 background-position: 10px 50%;}

/* re-position the search field below the title */
#search				{width: 100%; height: 35px; margin: 0; padding: 0 10px 10px 50px;
				 -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				         box-sizing: border-box;
				 border: none; text-align: right;
				 background: #222;}
#query				{width: 100%; padding: 4px 0; text-indent: 15px; font-size: 18px;
				 -webkit-box-sizing: padding-box;
				    -mox-box-sizing: padding-box;
				         box-sizing: padding-box;
				 -webkit-border-radius: 14px;
				    -moz-border-radius: 14px;
				         border-radius: 14px;}
#go				{left: -5px; top: -23px;}

/* fit the rss / add buttons into one line */
#mast nav			{height: 40px; line-height: 40px; margin: 20px 0 -20px;
				 overflow: hidden; /*< strange behaviour in webkit */}
#mast nav p:last-child		{/* hide location marker */
				 display: none;}
#add				{margin-right: 0;}

/* index page
   ---------------------------------------------------------------------------------------------------------------------- */
/* the meta items can’t fit in one line. add them below the titles */
ol.ui li			{position: relative; padding-bottom: 30px;}
#threads ol.ui li		{padding-left: 40px !important;}
ol.ui li b, ol.ui li time	{float: none; position: absolute; bottom: 5px;}
ol.ui li b			{right: 10px;}
ol.ui li time			{left: 40px; text-align: left;}
#folders ol.ui li time		{left: 20px;}

ol.ui li i			{/* position the post-count closer */
				 width: 20px !important; margin: 0 10px 0 -30px !important;
				 font-size: 14px;}
ol.ui li img			{/* put the sticky icon underneath the post count instead of next to it */
				 position: absolute; top: 35px;}


footer p			{margin-left: 5% !important; padding-left: 0 !important;}

/* thread page */
article header time		{/* don’t show the post time in portrait */
				 display: none;}

/* input forms
   ---------------------------------------------------------------------------------------------------------------------- */
/* single column */
#rightcol, #leftcol		{position: static; width: 100%;}

#ptitle, #puser, #ppass,
 #delete > form > p		{display: table; width: 100%;}
#pemail				{display: none !important;}

#ptitle label, #puser label,
 #ppass label,
 #delete > form > p > label	{float: none; display: table-cell; width: 80px; height: 39px; padding: 0 20px;
				 border-bottom: 1px dotted #444; line-height: 37px; text-indent: 0;}
#title, #user, #pass		{position: static; display: table-cell; width: 100%;}
#text 				{border: none;}

#delete #leftcol,		/* side-by-side of delete form doesn’t apply to iOS */
 #delete #rightcol		{width: 100%;}

/* footer */
#mods p				{padding-left: 0; padding-right: 0;
				 font-size: 13px;}

}

@media screen and (max-width: 640px) and (orientation: landscape) {

/* when landscape, shrink the size of the search field, and place the RSS / New Thread links in the header */
#search				{width: 50%; float: left;}

#mast nav			{width: 100%; margin-top: -5px; margin-bottom: 0; background: #222;}
#mast nav a			{color: white;}
#add				{padding-right: 5%;
				 background-image: url("icons/add_white.png");}
#rss				{background-image: url("icons/rss_white.png");}

/* show the post time when in portrait */
article header time		{display: inline;}
}


/* ======================================================================================================================
   printing / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /
   ====================================================================================================================== */
@media print {

/* fix page width */
section				{width: 100% !important;}

/* things to hide from printer: */
#mast nav, #search,		/* - nav */
 #new, #reply, #delete,		/* - input forms */
 a.ui,				/* - delete / append buttons */
 #mods, footer			{display: none;}

/* remove background colours, set text-colour */
html, h1, h1 a, section,
 nav, li.sticky, header,
 ol.pages em			{color: black !important; background: none !important;}

/* remove padding added to hold background images */
h1, h1 a			{padding-left: 0 !important;}
h1 a				{margin-left: 0 !important;}

/* remove left and right borders */
ol.ui, article			{border: none;}

/* remove left/right padding from page egde */
article, ol.ui li		{padding-left: 0; padding-right: 0;}
section>h1 + nav		{padding-right: 0;}

/* page links */
ol.pages li			{text-align: right;}
ol.pages a			{font-weight: normal; font-style: italic;}
ol.pages em			{font-weight: bold; text-decoration: underline;}

}


/* debugging */
body>#grid			{position: absolute; width: 100%; height: 6000px; top: 0; left: 0; opacity: 0.25;
				 background: transparent url("/themes/greyscale/grid.png") top left;
				 pointer-events: none;
				 display: none;}
