/* NoNonsense Forum © Copyright (CC-BY) Kroc Camen 2011
   licenced under Creative Commons Attribution 3.0 <creativecommons.org/licenses/by/3.0/deed.en_GB>
   you may do whatever you want to this code as long as you give credit to Kroc Camen, <camendesign.com> */
/* ====================================================================================================================== */
/* original Grayscale theme by Jon Gjengset <thesquareplanet.com>,
   greyscale theme by Kroc Camen, please modify to suit your needs
*/

/* current known browser support: (and growing)
	IE6, 7, 8, 9, 10
	Firefox 3, 3.5, 3.6, 4
	Chrome Stable, Chrome Dev
	Safari 3, 4, 5
	Opera 10, 10.54, 10.6, 11, 11.10
	Camino 2.1

   buggy
	Firefox 3, 3.5, Camino 2
	Opera 9.6

   absolutely will not work with: (because it’s HTML5)
	Firefox 2 or earlier
	Camino 1
	IE5.5 and below
*/

header, nav, section, article,	/* this doesn’t get set on browsers without an HTML5 parser (e.g. Firefox 3.6) */
 footer				{display: block;}

html, body			{width: 100%; margin: 0; padding: 0; border: 0; /*< remove inset window edge in IE6 */}
html				{font: normal 16px/20px Corbel, "Trebuchet MS", sans-serif;
				 background: white url("bg.png") fixed repeat-x bottom center;
				 /* CSS3 gradients for browsers that support it: */
	/* Chrome / Safari */	 background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ddd));
	/* Chrome10+ Saf5+ */	 background-image: -webkit-linear-gradient(white, #ddd);
	/* FF3.6+ */		 background-image:    -moz-linear-gradient(white, #ddd);
	/* IE10 */		 background-image:     -ms-linear-gradient(white, #ddd);
	/* Opera 11.10+ */	 background-image:      -o-linear-gradient(white, #ddd);
	/* future? */		 background-image:         linear-gradient(white, #ddd);}

h1				{margin: 0; padding: 20px 0 20px 60px;
				 line-height: 20px; font-size: 22px; font-weight: bold; color: #f7f6f7;
				 background: #222;}
section h1			{background: #222 none no-repeat 15px 15px;}

ol				{margin: 0; padding: 0; border: 1px solid #444; border-width: 0 1px;}
li				{margin: 0; padding: 10px 20px; border-bottom: 1px dotted #444;
				 list-style-type: none; line-height: 20px; color: #888;}

p				{margin: 0; padding: 0 0 20px;}

a				{color: #222; text-decoration: none; font-weight: bold;}
a:hover				{color: #666; text-decoration: underline;}

time				{font-family: Calibri, Tahoma, sans-serif; text-transform: uppercase;}


/* site header
   ====================================================================================================================== */
#mast				{padding: 40px 0 0;}
#mast h1			{position: absolute; top: 0; left: 0; right: 0; padding-left: 0; font-size: 32px;
				 width: 100%; /*< IE6 */}
#mast h1 a			{position: relative; z-index: 1; /*< surprisingly, IE isn't affected by the search box
				 overlapping the title link, so this is for the benefit of Firefox &.c */
				 _position: static; /*< position: relative, whilst not needed for the above mentioned bug,
				 causes IE6 to misrender the background image! this is an IE6-only attribute hack */
				 margin: 0 auto 0 10%; padding-left: 60px; color: #f7f6f7;
				 background: url("icons/title.png") no-repeat 15px 50%;}

/* the breadcrumb and rss / new buttons: */
#mast nav			{width: 80%; margin: 40px auto 0;
				 text-transform: uppercase; color: #888;}
#mast nav p			{padding: 0 0 0 60px;}

#index				{display: inline-block; /*< IE6/7 (even though they don’t support "inline-block") */
				 padding-left: 36px; margin-left: -36px;
				 background: url("icons/here.png") no-repeat 0 50%;}

#add, #rss			{float: right; margin-left: 20px; padding-left: 25px;}

#add				{margin-right: 20px;
				 background: url("icons/add.png") no-repeat 0 3px;}
#rss				{background: url("icons/rss.png") no-repeat 0 3px;}

/* Google search box: */
#search				{position: relative;
				 width: auto; /*< this makes magic happen in IE6/7 */
				 /* `auto` on the left margin (instead of `70%`) is required for IE6/7 to get this right */
				 margin: -20px 10% 0 auto; padding-right: 10px;
				 text-align: right; background: none;}
#query				{width: 180px; height: 20px; margin: 0; padding: 0 5px 0 25px; border: 0;
				 -webkit-border-radius: 10px;
				    -moz-border-radius: 10px;
				         border-radius: 10px;
				 font-size: 12px !important;
				 line-height: 20px; /*< equalises vertical position of search box in IE8 */
				 background: white url("icons/search.png") no-repeat 5px 50%;}
::-webkit-search-decoration,	/* reset Safari custom search-box design */
 ::-webkit-search-cancel-button	{display: none;}
input[type=search]		{-webkit-appearance:textfield;
				 -webkit-box-sizing:content-box;}
input[type=search]:focus	{outline: none;}

#go				{position: absolute; margin-left: -20px; top: 4px;}


/* index page
   ====================================================================================================================== */
section				{width: 80%; margin: 20px auto 0;
				 background: #f7f6f7;}

/* page list */
section nav			{margin-top: -1px; padding: 0 20px; height: 40px; /*< height required for IE6/7 */
				 font-family: Calibri, Tahoma, sans-serif; line-height: 40px; word-spacing: 5px;
				 text-align: right; text-transform: uppercase; color: #aaa;
				 background-color: #444;}
section nav em			{color: #f7f6f7; font-weight: bold; font-style: normal;}
section nav a			{color: #aaa;}
section nav a:hover		{color: white;}

/* move the page list into the title for browsers that support the adjacent selector (IE7+) */
/* (spaces are required between '+' here for WebKit!?) */
section h1 + nav		{background: none; float: right; margin-top: -50px;}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* titles */
#folders h1			{background-image: url("icons/folders.png");}
#threads h1, #post h1		{background-image: url("icons/threads.png");}

/* folder / thread names: */
#folders li			{border-bottom: 1px solid #444;}

#threads li			{padding-left: 60px;}
#threads li i			{float: left; width: 25px; margin: 0 10px 0 -50px;
				 font-family: Calibri, Tahoma, sans-serif; text-align: right;}
#threads li img			{margin-left: -20px; vertical-align: top;}
#threads li b			{float: right; padding-left: 10px; text-align: right;}

#threads li.sticky		{background: #eee;}

#threads li time		{float: right; width: 9.1em; text-align: right;}


/* thread page
   ====================================================================================================================== */
article				{padding: 0 20px 0; border: 1px solid #444; border-width: 0 1px;}
#post article			{border-bottom-width: 1px;}

#replies h1			{background-image: url("icons/replies.png");}
#replies article header		{border-bottom: 1px dotted #444;}

article header			{line-height: 40px; margin: 0 -20px 20px; padding: 0 20px; color: #888;
				 background: #ccc;}

article header b		{margin-left: 10px;}

article header time,
 article header .delete		{float: right;}

.delete				{overflow: hidden; padding: 0 25px 0 10px; text-indent: -6em; color: #ccc;
				 background: url("icons/delete.png") no-repeat right center;}
.delete:hover			{text-indent: 0; text-decoration: none; color: #222;}
.delete, .delete:hover		{-webkit-transition: all .2s;
				    -moz-transition: all .2s;
				      -o-transition: all .2s;
				         transition: all .2s;}

article.op			{}
article.op header		{background: #888; color: #eee;}

article.deleted			{color: #aaa;}
article.deleted header		{background: #f7f6f7; color: #aaa;}


/* input forms
   ====================================================================================================================== */
/* title icons */
#new h1, #reply h1		{background-image: url("icons/new.png");}
#delete h1			{background-image: url("icons/deletetitle.png");}

form				{position: relative; /*< for the benefit of IE6/7 whom do not have box-sizing */
				 margin: 0; padding: 0; border: 1px solid #444; border-width: 0 1px;}

input, textarea			{/* the use of `monospace monospace` fixes default font-size difference with WebKit */
				 font: 13px/16px Menlo, Monaco, Consolas, monospace, monospace;}

label				{display: block; height: 40px; padding: 0 20px; line-height: 40px; color: #222;}

form p				{padding: 0; color: #888;}
#ok, #error			{padding: 20px !important;}
#error				{color: #d11;}

input[type=text],
 input[type=password], textarea	{-webkit-box-shadow: inset 0 5px 5px -6px black;
				    -moz-box-shadow: inset 0 5px 5px -6px black;
				         box-shadow: inset 0 5px 5px -6px black;}

#leftcol			{width: 65%;}
#rightcol			{position: absolute; width: 35%; right: 0;}

#user, #pass			{display: block; width: 100%;}
#title, #user, #pass		{height: 39px; line-height: 39px;
				 /* since IE 6/7 don't support box-sizing, we can't use padding in the text-box,
				    we'll just indent instead */
				 padding: 0; text-indent: 20px;
				 border: none; border-bottom: 1px dotted #444;}

/* the "title" field, only present on the new thread form, index page */
#ptitle				{display: table; width: 100%;}
#ptitle label			{display: table-cell; width: 80px; height: 39px; line-height: 37px;
				 border-bottom: 1px dotted #444;}
#title				{display: table-cell; width: 100%;
				 -webkit-box-shadow: inset 5px 0 5px -6px black;
				    -moz-box-shadow: inset 5px 0 5px -6px black;
				         box-shadow: inset 5px 0 5px -6px black;}

/* the message box, present in new thread and reply forms */
#ptext label			{display: block; line-height: 40px;
				 border-right: 1px solid #f7f6f7; background: #f7f6f7;}

/* we have to use a wrapper because box-sizing is not consistently supported across browsers and missing in IE<8 */
#wtext				{position: relative; /*< force dotted line above rightcol in Firefox */
				 _position: static;  /*< that then breaks IE6 :P */
				 padding: 0 40px 0 0;}
#text 				{display: block; width: 100%; padding: 20px; margin: 0 -41px 0 0;
				 border: 0; border-right: 1px dotted #444;
				 /* fix width for browsers that allow resizable text-areas */
				 min-width: 100%; max-width: 100%; min-height: 230px; max-height: 700px;}

/* the e-mail field is an anti-spam feature and not used by the user */
#pemail				{display: none;}

/* submit button at bottom of form */
#psubmit			{clear: both; height: 40px;
				 margin: 0 !important; padding: 0; text-align: right;
				 background: #444;}
#psubmit label			{display: inline-block; padding: 0 0 0 20px; cursor: pointer;
				 color: #f7f6f7; text-transform: uppercase;}
#submit				{vertical-align: middle;}


/* site footer
   ====================================================================================================================== */
footer				{position: absolute; height: 60px; margin: 40px 0 0; padding: 20px 0 0; left: 0; right: 0;
				 width: 100%; /*< IE6, which doesn't fully understand 'left; right' */
				 background: #222;}

footer p			{margin: 0 auto 0 10%; padding-left: 20px; font-size: .9em; color: #f7f6f7;}
footer p a			{color: #888;}


/* mobile
   ====================================================================================================================== */
@media screen and (max-width: 640px) {

html, body			{width: 100%; -webkit-text-size-adjust: none; overflow: hidden;}

#mast				{padding: 0;}
#mast h1			{position: static; padding: 10px 0; font-size: 20px; line-height: 20px;}
#mast h1 a			{position: static; display: block; height: 30px; margin: 0; padding: 10px 0 0 50px;
				 background-position: 10px 50%;}
#search				{width: 100%; margin: 0; padding: 0 10px 10px 50px; border: none; text-align: right;
				 -webkit-box-sizing: border-box;
				 background: #222;}
#query				{width: 100%; padding: 4px 0; text-indent: 20px; font-size: 18px;
				 -webkit-box-sizing: padding-box;
				 -webkit-border-radius: 14px;}
#go				{top: 6px;}

#mast nav			{margin-top: 20px; overflow: hidden;}
#mast nav p:last-child		{display: none;}

#mast nav, section#delete,
 #threads, #new, #reply, #post,
 #replies			{width: 95%;}

#threads ol li			{padding-left: 10px;}
#threads ol li i,
 #threads ol li b,
 #threads ol li time		{display: none;}

#rightcol, #leftcol		{position: static; width: 100%;}

#ptitle, #puser, #ppass,
 #delete > p			{display: table; width: 100%;}
#pemail				{display: none !important;}

#ptitle label, #puser label,
 #ppass label,
 #delete > p > label		{display: table-cell; width: 80px; height: 39px; line-height: 37px;
				 border-bottom: 1px dotted #444;}
#title, #user, #pass		{display: table-cell; width: 100%;}
#text 				{border: none;}

footer p			{margin-left: 5% !important; padding-left: 0 !important;}

}
