/* NoNonsense Forum © Copyright (CC-BY) Kroc Camen 2011
   licenced under Creative Commons Attribution 3.0 <creativecommons.org/licenses/by/3.0/deed.en_GB>
   you may do whatever you want to this code as long as you give credit to Kroc Camen, <camendesign.com> */
/* ====================================================================================================================== */
/* original Grayscale theme by Jon Gjengset <thesquareplanet.com>,
   greyscale theme by Kroc Camen, please modify to suit your needs
*/

header, nav, section, article,	/* this doesn’t get set on browsers without an HTML5 parser (e.g. Firefox 3.6) */
 footer				{display: block;}

html, body			{width: 100%; margin: 0; padding: 0; border: 0; /*< remove inset window edge in IE6 */}
html				{font: normal 16px/20px Corbel, "Trebuchet MS", sans-serif;
				 background: white url("bg.png") fixed repeat-x bottom center;
				 /* CSS3 gradients for browsers that support it: */
	/* FF3.6+ */		 background-image: -moz-linear-gradient(white, #ddd);
	/* Chrome / Safari */	 background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#ddd));
	/* Chrome10+ Saf5+ */	 background-image: -webkit-linear-gradient(white, #ddd);
	/* IE6–9 */		 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#dddddd'); /* IE6–IE9 */
	/* future? */		 background-image: linear-gradient(white, #ddd);}

h1, legend			{margin: 0; padding: 0 0 0 60px;
				 line-height: 60px; font-weight: bold; color: #f7f6f7;
				 background: #222;}
section h1, legend		{margin-top: 20px; font-size: 22px;
				 background: #222 none no-repeat 15px 50%;}

dl				{margin: 0; padding: 0; border: 1px solid #444; border-width: 0 1px;
				 background: #f7f6f7;}
dt, dd				{line-height: 20px; margin: 0; padding: 10px 20px; color: #888;}
dt				{border-bottom: 1px dotted #444;}

p				{margin: 0; padding: 0 0 20px;}

a				{color: #222; text-decoration: none; font-weight: bold;}
a:hover				{color: #666; text-decoration: underline;}

time				{font-family: Calibri, Tahoma, sans-serif; text-transform: uppercase;}


/* site header
   ====================================================================================================================== */
#mast				{padding: 40px 0 0;}
#mast h1			{position: absolute; top: 0; left: 0; right: 0; padding: 0; font-size: 32px;
				 width: 100%; /*< IE6 */}
#mast h1 a			{margin: 0 auto 0 10%; padding-left: 60px; color: #f7f6f7;
				 background: url("icons/title.png") no-repeat 15px 50%;}

/* the breadcrumb and rss / new buttons: */
#mast nav			{width: 80%; margin: 40px auto 0;
				 text-transform: uppercase; color: #888;}
#mast nav p			{padding: 0 0 0 60px;}

#index				{display: inline-block; /*< IE6/7 (even though they don’t support "inline-block") */
				 padding-left: 36px; margin-left: -36px;
				 background: url("icons/here.png") no-repeat 0 50%;}

#add, #rss			{float: right; margin-left: 20px; padding-left: 25px;}

#add				{margin-right: 20px;
				 background: url("icons/add.png") no-repeat 0 3px;}
#rss				{background: url("icons/rss.png") no-repeat 0 3px;}

/* Google search box: */
#search				{position: relative;
				 width: auto; /*< this makes magic happen in IE6/7 */
				 /* `auto` on the left margin (instead of `70%`) is required for IE6/7 to get this right */
				 margin: -20px 10% 0 auto; padding-right: 10px;
				 text-align: right; background: none;}
#query				{width: 180px; height: 20px; margin: 0; padding: 0 5px 0 25px; border: 0;
				 -webkit-border-radius: 10px;
				    -moz-border-radius: 10px;
				         border-radius: 10px;
				 font-size: 12px !important;
				 line-height: 20px; /*< equalises vertical position of search box in IE8 */
				 background: white url("icons/search.png") no-repeat 5px 50%;}
::-webkit-search-decoration,	/* reset Safari custom search-box design */
 ::-webkit-search-cancel-button	{display: none;}
input[type=search]		{-webkit-appearance:textfield;
				 -webkit-box-sizing:content-box;}
input[type=search]:focus	{outline: none;}

#go				{position: absolute; margin-left: -20px; top: 4px;}


/* index page
   ====================================================================================================================== */
section, form			{width: 80%; margin: 0 auto 20px;}

/* page list */
section nav			{margin-top: -1px; padding: 0 20px;
				 font-family: Calibri, Tahoma, sans-serif; line-height: 40px; word-spacing: 5px;
				 text-align: right; text-transform: uppercase; color: #aaa;
				 background-color: #444;}
section nav em			{color: #f7f6f7; font-weight: bold; font-style: normal;}
section nav a			{color: #aaa;}
section nav a:hover		{color: white;}

/* move the page list into the title for browsers that support the adjacent selector */
/* (spaces are required between '+' here for WebKit!?) */
section h1 + nav		{background: none; float: right; margin-top: -50px;}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* titles */
#folders h1			{background-image: url("icons/folders.png");}
#threads h1, #post h1		{background-image: url("icons/threads.png");}

/* folder / thread names: */
#folders dt			{border-bottom: 1px solid #444;}

#threads dt			{padding-left: 60px;}
#threads dt i			{float: left; display: block; width: 25px; margin: 0 10px 0 -50px;
				 font-family: Calibri, Tahoma, sans-serif; text-align: right;}
#threads dt img			{margin-left: -20px; vertical-align: top;}

#threads dt.sticky		{background: #eee;}

/* thread meta info: */
#threads dd			{float: right; margin-top: -40px;}
#threads dd time		{float: right; padding-left: 20px;}
#threads dd b			{padding-left: 20px;}


/* thread page
   ====================================================================================================================== */

article				{padding: 0 20px 0; border: 1px solid #444; border-width: 0 1px;
				 background: #f7f6f7;}
#post article			{border-bottom-width: 1px;}

#replies h1			{background-image: url("icons/replies.png");}
#replies article header		{border-bottom: 1px dotted #444;}

article header			{line-height: 40px; margin: 0 -20px 20px; padding: 0 20px; color: #888;
				 background: #ccc;}

article header b		{margin-left: 10px;}

article header time,
 article header .delete		{float: right;}

.delete				{overflow: hidden; padding: 0 25px 0 10px; text-indent: -6em; color: #ccc;
				 background: url("icons/delete.png") no-repeat right center;}
.delete:hover			{text-indent: 0; text-decoration: none; color: #222;}
.delete, .delete:hover		{-webkit-transition: all .2s;
				    -moz-transition: all .2s;
				      -o-transition: all .2s;
				         transition: all .2s;}

article.op			{}
article.op header		{background: #888; color: #eee;}

article.deleted			{color: #aaa;}
article.deleted header		{background: #f7f6f7; color: #aaa;}


/* input forms
   ====================================================================================================================== */
#new legend,
 #reply legend			{background-image: url("icons/new.png");}
#delete legend			{background-image: url("icons/deletetitle.png");}

/* we have to do a bit of hacking here since `<legend>` is not block-level
   and many browsers apply special properties to it */
form				{padding: 0; background: #222;}
fieldset			{position: relative; margin: 0; padding: 0;
				 border-style: solid; border-width: 60px 1px 0; border-color: #222 #444;
				 background: #f7f6f7;}
legend				{position: absolute; top: -60px; margin: 0 !important;}

input, textarea			{/* the use of `monospace monospace` fixes default font-size differences with WebKit */
				 font: 12px/16px Monaco, Consolas, monospace, monospace;}

label				{display: block; padding: 0 20px; line-height: 40px; color: #222;}

form p				{padding: 0; margin: 0; color: #888;}

input[type=text],
 input[type=password]		{display: table-cell; width: 100%; height: 40px; margin: 0 0 0 -1px; padding: 5px 20px;
				 border: 0; border-bottom: 1px dotted #444;
				 -webkit-box-shadow: inset 0 5px 5px -6px black;
				    -moz-box-shadow: inset 0 5px 5px -6px black;
				         box-shadow: inset 0 5px 5px -6px black;}

input[type=text],		/* measure "100%" width to not include the padding */
 input[type=password], textarea	{-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				      -o-box-sizing: border-box;
				         box-sizing: border-box;}

/* the "title" field, only present on the new thread form, index page */
#ptitle				{display: table; width: 100%; margin: 0; padding: 0;}
#ptitle label			{display: table-cell; width: 100px; padding: 0; text-indent: 20px; line-height: 0;
				 border-bottom: 1px dotted #444;}
#title				{-webkit-box-shadow: inset 5px 0 5px -6px black;
				    -moz-box-shadow: inset 5px 0 5px -6px black;
				         box-shadow: inset 5px 0 5px -6px black;}

/* the message box, present in new thread and reply forms */
#message			{float: left; width: 65%; margin: 0; padding: 0;}
#message label			{display: block; line-height: 40px;}
#text 				{display: block; margin: 0; padding: 20px; width: 100%;
				 border: 0; border-right: 1px dotted #444;
				 /* fix width for browsers that allow resizable text-areas */
				 min-width: 100%; max-width: 100%; min-height: 230px; max-height: 700px;
				 -webkit-box-shadow: inset 0 5px 5px -6px black;
				    -moz-box-shadow: inset 0 5px 5px -6px black;
				         box-shadow: inset 0 5px 5px -6px black;}

#message ~ p			{margin-left: 65%; padding-left: 0px;}

#ok, #error			{padding: 20px 20px 20px 21px !important;}
#error				{color: #d11;}

/* the e-mail field is an anti-spam feature and not used by the user */
#pemail				{display: none;}

/* submit button at bottom of form */
#psubmit			{clear: both; margin: 0 !important; padding: 0 20px; line-height: 40px; text-align: right;
				 background: #444;}
#psubmit label			{display: inline; padding: 0; color: #f7f6f7; text-transform: uppercase; cursor: pointer;}
#submit				{margin-left: 10px; vertical-align: -2px;}


/* site footer
   ====================================================================================================================== */
footer				{position: absolute; height: 60px; margin: 20px 0 0; padding: 20px 0 0; left: 0; right: 0;
				 width: 100%; /*< IE6 */
				 background: #222;}

footer p			{margin: 0 auto 0 10%; padding-left: 20px; font-size: .9em; color: #f7f6f7;}
footer p a			{color: #888;}
